.article {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 530px;
  margin-bottom: 50px;
  position: relative;
  padding-top: auto;
  padding-bottom: 100px;
}



p {
  position: relative;
  width: 485.34px;
  height: 218px;
  left: 410.33px;

  font-family: "Gilroy-Medium";
  font-size: 26px;
  line-height: 28px;
  text-align: center;

  /* Black */

  color: #070707;
}
