.experience-row {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 80px;
  display: inline;
}
ul {
  display: flex;
}
li {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
.photoshop {
  text-align: center;
}
.illustrator {
  text-align: center;
}
.effects {
  text-align: center;
}
.figma {
  text-align: center;
}
