.navigation-list {
  ul {
    display: flex;
    padding-right: 15px;
  }

  li {
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
  }

  a {
    color: gray;
    display: inline-block;

    &:hover {
      color: black;
    }
    &.active {
      color: black;
      font-weight: 700;
    }
  }
}
.vector {
  position: absolute;
  width: 1150px;
  height: 0px;
  left: 165px;
  top: auto;

  border: 1px solid #828282;
}
