.social {

   
    width: 1445px;
    height: 4759px;
    left: 0px;
    top: 0px;
    text-align: center;
    justify-content: center;
}

button {
  
   padding-top: -40px;
  background: #070707;
  border-radius: 10px;
}

.form_button {
   
  /*  position: absolute;
    display: flex;
  font-family: "Gilroy-Bold";
  font-size: 18px;*/
  line-height: 22px;
  margin-top: 20px;
 


  text-align: center;
  color: #ffffff;
  top: 3400px;
  font-size: large;
}
.form {
  
}
.icons {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    justify-content: center;
}